% rebase('osnova.html')
<h2>Dodaj osebo</h2>

<form method="POST">
    <div class="field">
        <label class="label">Ime</label>
        <div class="control">
            <input class="input" type="text" placeholder="Vpiši ime osebe" name="ime" value="{{ime}}" required>
        </div>
        <label class="label">Priimek</label>
        <div class="control">
            <input class="input" type="text" placeholder="Vpiši priimek osebe" name="priimek" value="{{priimek}}" required>
        </div>
        <label class="label">Mail</label>
        <div class="control">
            <input class="input" type="text" placeholder="Vpiši e-mail osebe" name="mail" value="{{mail}}" required>
        </div>
        
        % if napaka:
        <p class="help is-danger">{{napaka}}</p>
        % end
    </div>

    <div class="field">
        <div class="control">
            <button class="button" >Dodaj!</button>
      </div>

</form>

<img style="-webkit-user-select: none;max-width: 100%;margin-left: -500px; margin-right: 200px;margin-top: 200px" width="500" height="300" src="http://www.allwhitebackground.com/images/3/3328.jpg">
<img style="-webkit-user-select: none;max-width: 100%;margin-right: -500px;margin-top: 200px" width="500" height="300" src="https://s1.1zoom.me/b5050/947/Cats_White_background_Kittens_Paws_547032_3840x2400.jpg">